__pycache__/
.venv/
.vscode/
.git/
3.10_venv/
.pytest_cache/
.debug_files/
.idea/

media/
htmlcov/

.env
.list_env_vars.py

tests/routes/test_setup_routes.py   # to be fixed

*.ini
*.pyc
*.sock
*.old
